apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ .Values.kafka.name }}
spec:
  kafka:
    version: 3.3.1
    replicas: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    resources:
      requests:
        memory: 500Mi
        cpu: 300m
      limits:
        memory: 500Mi
        cpu: 500m
    jvmOptions:
      "-Xmx": "400m"
      "-Xms": "300m"
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      log.message.format.version: "3.3"
      inter.broker.protocol.version: "3.3"
    storage:
      type: jbod
      volumes:
      - id: 0
        type: {{ .Values.kafka.storage.type }}
        size: {{ .Values.kafka.storage.size }}
        deleteClaim: false
  zookeeper:
    replicas: {{ .Values.kafka.zookeeper.replicas }}
    storage:
      type: {{ .Values.kafka.zookeeper.storage.type }}
      size: {{ .Values.kafka.zookeeper.storage.size }}
      deleteClaim: false
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 256Mi
        cpu: 400m
  entityOperator:
    topicOperator:
      resources:
        requests:
          cpu: 150m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi
    userOperator:
      resources:
        requests:
          cpu: 150m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi
    tlsSidecar:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
