apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ .Values.kafka.name }}
spec:
  kafka:
    #version: 3.3.1
    image: {{ .Values.externalRegistry2 }}/strimzi/kafka:0.32.0-kafka-3.3.1
    replicas: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    resources:
{{ if .Values.kafka.resources }}
{{ .Values.kafka.resources | toYaml | indent 6 }}
{{ end }}
{{ if .Values.kafka.jvmOptions }}
    jvmOptions:
{{ .Values.kafka.jvmOptions | toYaml | indent 6 }}
{{ end }}
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      log.message.format.version: "3.3"
      log.retention.hours: {{ .Values.kafka.config.logRetentionHours }}
      inter.broker.protocol.version: "3.3"
      auto.create.topics.enable: true
    storage:
      type: jbod
      volumes:
      - id: 0
        type: {{ .Values.kafka.storage.type }}
        size: {{ .Values.kafka.storage.size }}
        deleteClaim: false
  zookeeper:
    image: {{ .Values.externalRegistry2 }}/strimzi/kafka:0.32.0-kafka-3.3.1
    replicas: {{ .Values.kafka.zookeeper.replicas }}
    storage:
      type: {{ .Values.kafka.zookeeper.storage.type }}
      size: {{ .Values.kafka.zookeeper.storage.size }}
      deleteClaim: false
    resources:
      requests:
        memory: 128Mi
        cpu: 200m
      limits:
        memory: 256Mi
        cpu: 400m
  entityOperator:
    topicOperator:
      image: {{ .Values.externalRegistry2 }}/strimzi/operator:0.32.0
      resources:
        requests:
          cpu: 150m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi
    userOperator:
      image: {{ .Values.externalRegistry2 }}/strimzi/operator:0.32.0
      resources:
        requests:
          cpu: 150m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi
    tlsSidecar:
      image: {{ .Values.externalRegistry2 }}/strimzi/kafka:0.32.0-kafka-3.3.1
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
