---
# yamllint disable rule:line-length
# yamllint disable rule:braces
apiVersion: apps/v1
kind: Deployment
metadata:
  name: debezium-bridge
  namespace: {{ .Release.Namespace }}
  labels:
    app: debezium-bridge
spec:
  replicas: {{ .Values.kafkaBridge.debezium.replicaCount }}
  selector:
    matchLabels:
      app: debezium-bridge
  template:
    metadata:
      labels:
        app: debezium-bridge
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/bridge-configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: debezium-bridge
          image: '{{ .Values.mainRepo }}/kafka-bridge:{{ .Values.mainVersion }}'
          command: ["node"]
          args: ["/opt/debeziumBridge/app.js"]
          imagePullPolicy: IfNotPresent
          env:
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - cat
                - /tmp/healthy
            initialDelaySeconds: 300
          readinessProbe:
            exec:
              command:
                - cat
                - /tmp/ready
            initialDelaySeconds: 5
          volumeMounts:
            - name: config
              mountPath: /opt/config
              readOnly: true
          resources:
      volumes:
        - name: config
          configMap:
            # Provide the name of the ConfigMap you want to mount.
            name: bridge-configmap
            # An array of keys from the ConfigMap to create as files
            items:
              - key: "config.json"
                path: "config.json"
              - key: "knowledge.ttl"
                path: "knowledge.ttl"
