name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker images
      run: docker-compose build
    - name: Build shacl2flink
      run: |
        sudo  apt install sqlite3 sqlite3-pcre
        cd semantic-model/shacl2flink && make setup && make lint test build test-kms