name: K8s tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SELF_HOSTED_RUNNER: true

jobs:
  build:
    runs-on: private

    steps:
    - uses: actions/checkout@v2
    - name: Prepare K3d cluster
      run: |
        if [ -z "${SELF_HOSTED_RUNNER}" ]; then
          ( cd ./test && bash ./prepare-platform.sh )
        else
          ( cd ./test && bash ./prepare-platform-for-self-hosted-runner.sh )
        fi
    - name: Prepare Bats framework
      run: |
        cd ./test/bats
        bash ./prepare-test.sh
        bats linting.bats
        shellcheck *.sh *.bats test-*/*.bats
    - name: Build DT containers and push to local registry
      run: |
        DOCKER_PREFIX=k3d-iff.localhost:12345 docker-compose build
        DOCKER_PREFIX=k3d-iff.localhost:12345 docker-compose push
    - name: Build Scorpio containers
      run: |
        git clone https://github.com/IndustryFusion/ScorpioBroker.git
        cd ScorpioBroker
        mvn clean package -DskipTests -Pdocker
        docker images | tail -n +2 | awk '{print $1":"$2}'| grep ibn40 |
          {
            while read i; do
            j=$(echo $i | sed 's/ibn40/k3d-iff.localhost:12345/g');
            docker tag $i $j;
            docker push $j;
            done
          }
    - name: Install operators
      run: ( cd ./helm && bash ./install_operators.sh )
    - name: Test whether operators are coming up
      run: |
        cd ./test/bats
        bats test-operators/*.bats
    - name: Install first two parts of horizontal platform
      run: |
        cd ./helm
        echo Install first part
        ./helmfile_linux_amd64 -l order=first apply --set "mainRepo=k3d-iff.localhost:12345"
        (cd ../test/bats; bats test-horizontal-platform/horizontal-platform-up-and-running-first.bats)
        echo Install second part
        ./helmfile_linux_amd64 -l order=second apply --set "mainRepo=k3d-iff.localhost:12345"
        (cd ../test/bats; bats test-horizontal-platform/horizontal-platform-up-and-running-second.bats)

    - name: Setup Ingress for localhost and install rest of platform
      run: |
        (cd ./test && bash ./setup-local-ingress.sh)
        echo Install the rest
        (cd ./helm && ./helmfile_linux_amd64 apply --set "mainRepo=k3d-iff.localhost:12345")
        (cd ./test/bats; bats test-horizontal-platform/horizontal-platform-up-and-running-rest.bats)
        echo Test all together
        (cd ./test/bats; bats *.bats)
    - name: Run e2e tests is coming up
      run: |
        cd ./test/bats
        bats test-bridges/*.bats
  #  - name: Setup tmate session
  #    if: failure()
  #    uses: mxschmitt/action-tmate@v3

